@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300&display=swap');

/* Formatação geral */

:root {
    --cor-principal: #F28888;
    --cor-auxiliar: #F2B705;
    --cor-detalhes: #F28DA8;
    --cor-geral: white;
    --cor-texto: black;
    --font: 'Poppins', sans-serif;
}

h3 a,
h1 a,
h2 a {
    color: var(--cor-texto);
    text-decoration: none;
}

.bx-user-circle,
.bx-cart {
    font-size: 40px;
    color: var(--cor-texto);
}

/*header*/


/*topo*/

header i.bx-menu,  header i.bx-x {
    display: none;
}
.topoSite {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;

}

.topoSite h1 {
    font-size: 20px;
}

.topoSite img {
    width: 80px;
}

.topoSite h1,
h3 {
    display: inline;
    font-family: var(--font);
}

.topoSite h1 {
    margin-bottom: 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.contato {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*topo fim*/

/*nav*/

#spanCardapio{
    font-size: 25px;
    font-weight: 300;
    color: var(--cor-texto);
}
header nav {
    background-color: var(--cor-principal);
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    position: sticky;
    top: 0;
    z-index: 10;
}

form {
    margin: 10px 0 10px 20px;
}

form .search-item {
    padding-top: 7px;
    margin-left: 5px;
    font-size: 25px;
    position: absolute;
}

form .form-control {
    text-indent: 20px;
    border-radius: 20px;
    border: 1px solid;
}

form .form-control:focus {
    border: 1px solid var(--cor-auxiliar);
}

.menu {
    list-style: none;
    align-items: center;
    display: flex;
    font-size: 25px;
    margin: 12px;
    font-family: var(--font);
}

.menu li {
    position: relative;
    margin-left: 25px;

}

.menu li a {
    color: var(--font);
    text-decoration: none;

    display: block;
}


.menu li ul button:hover{
    color: #F2B705;
}

.menu li ul {
    position: absolute;
    background-color: var(--cor-principal);
    display: none;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li {
    display: block;
    margin: 0;
    padding: 10px 10px 5px 0;
    width: 215px;
    font-size: 22px;
    background-color: var(--cor-principal);
}

.menu h2 {
    display: inline;
    font-size: var(--font);
    font-weight: 300;
    font-size: 25px;
    margin: 25px;
}


nav button {
    background-color: var(--cor-principal);
    border: none;
    font-weight: 300;
   
}

/*nav fim*/

/*header fim*/

/*main*/

#contentCarousel .carousel-inner div {
    width: 80vw;
}

#contentCarousel {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    z-index: 1;
}

.itens img {
    width: 30%;
}

.itens {
    width: 70%;
    margin: auto;
   
}

.itens div{
    margin: 10px;
    margin-left: 20px;
}

/*Cardapio */

#cardapio {
    position: relative;
    width: 80%;
    margin: auto;
}

.titulo-cardapio {
    color: var(--cor-auxiliar);
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin: 40px;
    font-family: var(--font);

}

.categoria-cardapio {
    color: var(--cor-principal);
    font-size: 30px;
    font-weight: bold;
    padding-left: 2em;
    font-family: var(--font);
}

#cardapio .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#cardapio #produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 70px;
}

#categorias {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    height: min-content;
}

#cardapio .produto {
    display: inline;
    max-width: min-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px;
}

span {
    display: block;
    font-weight: bold;
    font-size: large;
}

.categoria-produto {
    color: rgb(88, 88, 88);
    font-weight: bold;
    font-size: small;
}

.imagem {
    position: relative;
}

.desconto {
    position: absolute;
    border: 1px solid black;
    color: var(--cor-auxiliar);
    background: #ee6161;
    padding: 5px;
    border-radius: 10px;
    font-size: smaller;
    margin-left: 190px;
    margin-top: 5px;
    z-index: 2;
}

.informacoes-produtos {
    padding: 20px;
}

.precos {
    margin: 15px;
}

.preco-deletado {
    display: block;
    text-align: center;
}

.preco {
    display: block;
    text-align: center;
    font-size: x-large;
    color: #ee6161;
}

.button-adicionar {
    display: inline;
    margin: 5px;
    color: #ee6161;
    background-color: #f2b705cc;
    font-weight: bold;
    border-radius: 10PX;
    padding: 5px;
}



#cardapio .contador-adicionar {
    display: inline;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

#cardapio .carousel-inner {
    padding: 4em;
    padding-top: 1em;
}

#cardapio .card {
    margin-left: 50%;
    margin-right: 50%;
    width: min-content;
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

#cardapio .carousel-control-prev,
#cardapio .carousel-control-next {
    background-color: var(--cor-principal);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    justify-content: center;
    display: flex;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 80%;
    width: 100%;
    position: absolute;
}

#lojas {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

#lojas h1,
#sobre h1,
#contato h1 {
    color: var(--cor-principal);
    font-family: var(--font);
    font-size: 50px;
}

#lojas h2,
#sobre h2,
#contato h2 {
    font-size: 30px;
    color: var(--cor-auxiliar);
    font-family: var(--font);
}

.bxs-map {
    color: var(--cor-detalhes);
}

#lojas h3 {
    display: block;
    margin: 12px 0 10px 70px;
}

#sobre,
#contato {
    width: 90%;
    margin: auto;
}

#sobre img,
#contato img {
    width: 95%;
}

#sobre p {
    font-family: var(--font);
    font-size: 25px;
}

#contato {
    margin-top: 100px;
    margin-bottom: 100px;
}

#contato form {
    margin: 30px 0 0 60px;
}

#contato input,
#msg {
    margin: 12px;
    font-size: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid var(--cor-detalhes);
    color: var(--cor-texto);
}

#msg{
    width: 90%;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#contato #enviar {
    padding: 12px;
    font-size: 22px;
    background-color: var(--cor-principal);
    border-radius: 15px;
}

footer {
    background-color: var(--cor-principal);
}

footer i {
    font-size: 25px;
}

a:hover {
    color: var(--cor-texto);
}

/*RESPONSIVIDADE*/
@media(max-width:996px){
    h3 a {
        font-size: 18px;
    }

    li, #spanCardapio{
        font-size: 22px;
    }

    .menu li ul li{
        font-size: 20px;
    }

    col {
        flex: 2 0 0%;
      }

    .titulo-cardapio, #lojas h1, #sobre h1, #contato h1{
        font-size: 40px;
    }

    .map-responsive {
        margin-top: 30px;
    }

    #sobre img, #contato img{
        display: none;
    }

    #lojas h2, #sobre h2, #contato h2{
        font-size: 25px;
    }

    #contato {
        margin-top: 60px;
    }

    .itens {
        width: 80%;
        margin: auto;
    }

    .itens div{
        margin: 0;
    }

    .itens .centralizar{
        margin: auto;
        margin-top: 30px;
    }
    
}

@media(max-width:842px){
    .topoSite img {
        width: 50px;
    }

    .topoSite{
        padding: 2px;
    }

    header nav{
        padding: 0;
    }
    .menu{
        display: none;
        width: 200px;
        top: 50px;
        left: 0px;
        position: absolute;
        margin: 0px;
        width: 100vw;
    }

    .menu.openMenu {
        display: block;
    }

    .menu li{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .menu li ul {
        padding-top: 20px;
        position: relative;
        top: 0;
        background-color: var(--cor-principal);
    }

    ul{
        padding-left: 0px;
    }
    
    .menu li:hover ul,
    .menu li.over ul {
        display: block;
    }

    header i.bx-menu {
        display: block;
        font-size: 50px;
        margin: 10px 20px;
        display: flex;
        align-items: center;
        color: var(--cor-geral);
    }

    header i.bx-x {
        display: block;
        font-size: 60px;
        margin: 30px 15px;
        display: flex;
        align-items: center;
        color: var(--cor-geral);
    }

    li{
        display: flex;
        padding: 40px;
        background-color: var(--cor-principal);
    }

    #ullistTopics{
        z-index: 10;
    }

    #spanCardapio{
        font-size: 20px;
    }

    .menu li ul li {
        align-items: center;
        display: flex;
      }

      .menu li {
        align-items: center;
      }

    li{
        padding: 20px;
    }

    hr{
        width: 100%;
        background-color: var(--cor-geral);
        opacity: 1;
        margin: 0;

    }

}
@media(max-width:778px){
    .topoSite h1 {
        display: none;
    }

    .topoSite img {
        width: 50px;
    }

    .topoSite {
        padding: 0;
    }

    .contato h3 {
        display: none;
    }

    .bx-user-circle,
    .bx-cart {
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    a {
        color: var(--cor-texto);
    }

    .itens .row{
        width: 20%;
        display: block ruby;
    }

    .itens img{
        width: 40% ;
    }

    .categoria-cardapio {
        font-size: 25px;
        padding-left: 1em;
        margin-top: 20px;
      }
    
      .titulo-cardapio, #lojas h1, #sobre h1, #contato h1{
        font-size: 30px;
      }

    #lojas h3{
        margin: 20px 0 10px 20px;
    }

    #sobre p{
        font-size: 20px;
    }

    #contato form{
        margin: 30px 0 0 0px;
    }

}

@media(max-width:604px){

    .itens h3 a{
        display: none;
    }

    .itens img{
        width: 60%;
    }

    .itens .centralizar{
        margin-top:0;
    }

    .titulo-cardapio{
        font-size: 30px;
        margin: 15px;
    }

    .categoria-cardapio{
        margin-top: 10px;
    }

    #lojas h3{
        margin: 10px 0 10px 20px;
    }

}
@media(max-width:468px) {
    .itens img{
        width: 80%;
    }

    .titulo-cardapio{
        font-size: 25px;
        margin-top: 10px;
        padding: 15px;
    }

    .categoria-cardapio{
        margin-top: 5px;
        font-size: 20px;
        font-weight: 700;
    }

    #lojas h1, #sobre h1, #contato h1{
        font-size: 25px;
    }

    #lojas h2, #sobre h2, #contato h2{
        font-size: 20px;
    }

    #lojas h3, #sobre p{
        font-size: 18px;
    }

    #contato input, #msg{
        font-size: 18px;
    }

    #contato #enviar{
        width: 25%;
        font-size: 18px;
    }

    .topoSite img {
        width: 40px;
    }

}
/*contador*/
#contador{
    border: 1px solid black;
    border-radius: 10px;
    display:inline;
    padding: 2px;
}
.button{
    border: none;
    background-color: rgba(245, 245, 220, 0);
    color:rgb(240, 37, 148)
}
.button:hover{
    color:rgb(255, 208, 0);
}
#valor{
    display:inline
}
@media (min-width: 0px) {
    #cardapio .carousel-inner {
        display: flex;
    }

    #cardapio .carousel-item {
        margin-right: 0;
        flex: 0 0 50%;
        display: block;
        width: 200px;
    }
    .imagem>img{
        width:100px;
        height:100px
    }
    span{
        font-size: medium;
    }
    .desconto{
            font-size: xx-small;
    margin-left: 100px;
    }
    .categoria-produto {
        font-size: x-small;
    }
    #cardapio .informacoes-produtos {
        padding: 0px;
    }
    #contador{
        text-align: center;
    }
    .button{
        padding: 0;
    }
    .preco{
        font-size: large;
    }
    .adicionar{
        font-size: 9px;
    }
    #cardapio .carousel-control-prev, #cardapio .carousel-control-next {
        width: 4vh;
        height: 4vh;
    }
    #cardapio .carousel-inner {
        padding: 1em;
    }
}
@media (min-width: 500px) {
    #cardapio .carousel-item {
        margin-right: 0;
        flex: 0 0 33,333%;
        display: block;
        width: 200px;
    }
}
    @media (min-width: 600px) {
        #cardapio .carousel-item {
            margin-right: 0;
            flex: 0 0 26%;
            display: block;
            width: 200px;
        }
    
}

@media (min-width: 850px) {
    #cardapio .carousel-item {
        flex: 0 0 50%;
    }
    .imagem>img{
        width:210px;
        height:210px;
    }
    span{
        font-size: large;
    }
    .desconto{
        font-size: small;
    margin-left: 190px;
    }
    .categoria-produto {
        font-size: small;
    }
    #cardapio .informacoes-produtos {
        padding: 20px;
    }
    #contador{
        text-align: center;
    }
    .button{
        padding: 5px;
    }
    .preco{
        font-size: x-large;
    }
    .adicionar{
        font-size: large;
    }
    #cardapio .carousel-control-prev, #cardapio .carousel-control-next {
        width: 6vh;
        height: 6vh;
    }
    #cardapio .carousel-inner {
        padding: 4em;
    }
}

@media (min-width: 1000px) {
    #cardapio .carousel-item {
        flex: 0 0 40%;
    }
}

@media (min-width: 1200px) {
    #cardapio .carousel-item {
        flex: 0 0 33%;
    }
}

@media (min-width: 1400px) {
    #cardapio .carousel-item {
        flex: 0 0 28%;
    }
}
@media (min-width: 1600px) {
    #cardapio .carousel-item {
        flex: 0 0 23%;
    }
}
