

/*.cardapio{
    background-image: url(b12b9862e9ef4c8fe11edb13e01a77cd-removebg-preview.png);
    height: 370px;
}*/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300&display=swap');
.titulo-cadapio {

    color: #F2B705;
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin: 40px;
    font-family: 'Poppins', sans-serif;
   
}

.categoria-cardapio{
    color: #F28888;
    font-size: 30px;
    font-weight: bold;
    padding-left:2em;
    font-family: 'Poppins', sans-serif;
}

#cardapio .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#cardapio #produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 70px;
}

#categorias {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    height: min-content;
}

#cardapio .produto {
    display: inline;
    flex: 1;
    max-width: min-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px;
}


span {
    display: block;
    font-weight: bold;
    font-size: large;
}

.categoria-produto {
    color: rgb(88, 88, 88);
    font-weight: bold;
    font-size: small;
}
.imagem{
    position: relative;
}
.desconto{
   position: absolute; 
   border: 1px solid black;
   color: #ffbb00;
   background: #e4347d;
   padding: 5px;
   border-radius: 10px;
   font-size: smaller;
   margin-left: 190px;
   margin-top: 5px;
   z-index: 2;
}
.informacoes-produtos{
    padding: 20px;
}
.precos {
    margin: 15px;
}



.preco-deletado {
    display: block;
    text-align: center;
}

.preco {
    display: block;
    text-align: center;
    font-size: x-large;
    color: #ee1d74;
}
/*style do contador*/
#contador{
    border: 1px solid black;
    border-radius: 10px;
    width: max-content;
    padding: 2px;
}
.button{
    border: none;
    background-color: rgba(245, 245, 220, 0);
    color:rgb(240, 37, 148)
}
.button:hover{
    color:rgb(255, 208, 0);
}
#cardapio{
    position:relative;
    width: 80%;
    margin: auto;
}
#cardapio .contador-adicionar {
    display: inline;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

#cardapio .carousel-inner {
    padding: 4em;
    padding-top: 1em;
}

#cardapio .card {
    margin-left: 50%;
    margin-right: 50%;
    width: min-content;
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

#cardapio .carousel-control-prev,
#cardapio .carousel-control-next {
    background-color:#F28888;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

a:hover{
    color: var;
}


@media (min-width: 520px) {
    #cardapio .carousel-inner {
        display: flex;
    }

    #cardapio .carousel-item {
        margin-right: 0;
        flex: 0 0 50%;
        display: block;
        width:200px;
    }
}
@media (min-width: 768px) {
    #cardapio .carousel-item {
        flex: 0 0 50%;
    }
}
@media (min-width: 954px) {
    #cardapio .carousel-item {
        flex: 0 0 33.333%;
    }
}
@media (min-width: 1020px) {
    #cardapio .carousel-item {
        flex: 0 0 25%;
    }
}
