@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300&display=swap');

/* Formatação geral */

:root {
    --cor-principal: #F28888;
    --cor-auxiliar: #F2B705;
    --cor-detalhes: #F28DA8;
    --cor-geral: white;
    --cor-texto: black;
    --font: 'Poppins', sans-serif;
}

h3 a, h1 a, h2 a {
    color: var(--cor-texto);
    text-decoration: none;
}

.bx-user-circle,
.bx-cart {
    font-size: 40px;
    color: var(--cor-texto);
}
/*header*/

/*topo*/
.topoSite{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.topoSite img {
    width: 80px;
}

.topoSite h1,
h3 {
    display: inline;
    font-family: var(--font);
}

.topoSite h1 {
    margin-bottom: 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.contato {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*topo fim*/

/*nav*/
nav {
    background-color: var(--cor-principal);
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

form {
    margin: 10px 0 10px 20px;
}

form .search-item {
    padding-top: 7px;
    margin-left: 5px;
    font-size: 25px;
    position: absolute;
}

form .form-control {
    text-indent: 20px;
    border-radius: 20px;
    border: 1px solid;
}

form .form-control:focus {
    border: 1px solid var(--cor-auxiliar);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-principal);
    min-width: 160px;
    padding-top: 20px;
    z-index: 10;
    position: fixed;
}

.dropdown-content a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffd5d5
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu h2 {
    display: inline;
    font-size: var(--font);
    font-weight: 300;
    font-size: 25px;
    margin: 25px;
}

.menu {
    display: flex;
    align-items: center;
}
/*nav fim*/

/*header fim*/

/*main*/

.carousel-inner div{
    width: 80vw;
}

#contentCarousel{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    z-index: 1;
}

.itens img{
    width: 30%;
}

.itens{
    width: 60%;
    margin: auto;
}