
main{
    padding: 20px 150px;
}
h1{
    color: #FFB800 ;
}
h2{
    color: #ee1d74;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}
#produtos{
    display:flex;
    flex-wrap: wrap;
    gap:30px;
    padding:70px;
}
#categorias{
    border: 2px solid black;
    border-radius: 5%;
    padding:20px;
    height: min-content;
}
.produto{
    display: inline;
    flex:1;
    max-width: min-content;
    border: 2px solid black;
    border-radius: 5%;
    padding:20px;
}
label{
    display: block;
    padding:10px;
}
span{
    display: block;
    font-weight: bold;
    font-size: large;
}
.categoria-produto{
    color: rgb(88, 88, 88);
    font-weight: bold;
    font-size: small;
}
del{
    text-align: center;
}